#PAESE{
  display: none;

}

#PROPRIETA{
  display: none;

}

#UTILIZZO{


}

#pulsanteViola{
transition: 0.3s;
}

#pulsanteViola:hover{
  fill: #8d63ff;
  stroke-width: 4;
}

#pulsanteVerde{
transition: 0.3s;
}

#pulsanteVerde:hover{
  fill: #93ffc9;
  stroke-width: 4;
}

#pulsanteGiallo{
transition: 0.3s;
}

#pulsanteGiallo:hover{
  fill: #ffef87;
  stroke-width: 4;
}

.spicchio{
  opacity: .7;
  transition: 0.3s;
}

.spicchio:hover{
  opacity: 1;
}
