/* *{
  margin: 0;
} */


#world {
	width: 100%;
	height: 100%;
	overflow: hidden;
  z-index:-1000;
	background: linear-gradient(#2c003f, #00234c);

	position: fixed;

}

body {
background: #00234c;
}

.flexbox-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;

  width: 100%;
}

.header1{
  font-family: "GT America Compressed";
  color: white;
  font-size: 13vw;
  text-align: center;

	font-weight: 100;
	font-style: normal;

  margin-top: 8vw;
  margin-left: auto;
  margin-right: auto;
}

.header2{
  font-family: "GT America Compressed";
  color: #9ccbd8;
  font-size: 4.5vw;
  text-align: center;

	font-weight: 700;
	font-style: italic;

  margin-left: auto;
  margin-right: auto;
	margin-bottom: 26vw;
}

.titolo{
	font-family: "GT America Compressed";
  color: white;
  font-size: 46px;

	font-weight: 700;
	font-style: italic;
	padding-left: 45px;
}

.textbox {
	padding-top: 150px;
}

.corpo{
	font-family: "Space Mono";
  /*color: #9ccbd8; */
	color: white;
  font-size: 16px;
	width: 40%;

	font-style: normal;

  margin-top: 40px;
	margin-bottom: 40px;
}

.didascalia{
	font-size: 30px;
	font-style: italic;
	font-family: "GT America Compressed";
	color: white;
	text-align: center;
}

.terra{
width: 100%;
height: 400vw;

padding-top: 0px;

position: relative;

background-color: #29377C;

}

.grafico1{
width: 100%;

position: relative;
margin-top: 25vw;
padding-bottom: 0px;

margin-top: 26vw;

}

.corposky{
	background: rgba(36, 135, 109, .5);
	padding: 60px;
}
